html,
body,
div,
h1,
a,
form,
label
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;   
}
/*--start editing from here--
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


img {
    max-width: 100%;
}

/*--end reset--*/

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 100%;
    background: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    text-align: center;
}

.w3ls-login {
    margin-top:-5em;
    margin-left:-30px;
    margin-right:300px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}

h1 {
    font-size: 3.8em;
    font-weight: 1000;
    text-shadow: chartreuse;
    margin-top:-0.5em;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
    margin-bottom: 1.4em ;
    position: relative;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}

.w3ls-login form {
    max-width: 1000px;
    margin: 0 3vw;
    padding: 3.5vw;
    border-width: 5px 0;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    background: rgba(252, 254, 255, 0.11);
}

.w3ls-login input[type="text"], .w3ls-login input[type="password"] {
    width: 100%;
    color: #fff;
    outline: none;
    background: rgba(0, 0, 0, 0.32);
    font-size: 17px;
    letter-spacing: 0.5px;
    /* line-height: 25px; */
    padding: 20px;
    box-sizing: border-box;
    border: none;
    /* border-bottom: 1px solid #929191; */
    -webkit-appearance: none;
    font-family: 'Catamaran', sans-serif;
     background: transparent; 
}
.w3ls-login ::-webkit-input-placeholder {
    color: #eee;    
 } 
 .w3ls-login :-moz-placeholder { /* Firefox 18- */
  color: #eee; 
 } 
 .w3ls-login ::-moz-placeholder {  /* Firefox 19+ */
  color: #eee;  
 } 
 .w3ls-login :-ms-input-placeholder {  
    color:#eee;
 }

.agile_label {
    text-align: left;
    margin: 10px 0 0;
    font-weight: 1000;
    font-size:20px;
    text-shadow:5px;

}

.w3ls-login.w3l-sub {
    margin-top: 0em;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.w3ls-login input[type=submit] {
    color: #ffffff;
    
    width: 100%;
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #000;
    font-family: 'Catamaran', sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.w3ls-login input[type=submit]:hover {
    color: #fff;
    box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.4);
    transform: translateY(5px);
}

.w3ls-bot {
    margin-top: 1.5em;
    width: 100%;
}

.btn-link {
    color: #000 !important;
}

.hellobab {
    margin-top: 1.0em;
    width: 100%;
    line-height:2em;
    font-weight: bolder;
    color: red;
    font-size:20px;
}


/*--//copyright--*/

/*--responsive--*/
@media(max-width:1024px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 5vw;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 2.3em;
    }
    .w3ls-login form {
        padding: 7.5vw;
    }
}
@media(max-width:568px) {
    .w3ls-login{
        flex-direction: column;
    }
    .w3ls-login img{ 
        order:1;
        margin-top: 1em;
    }
}

@media(max-width:440px) {
    h1 {
        font-size: 2.1em;
    }
    .parent {
        display: block;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 1.8em;
    }
    .w3ls-login form {
        padding: 25px 8px;
    }
}

body {
    padding-top: 100px;
}

.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
}