<div class = "hero">
  <br>
<div class="container">
  <div class="row">
    <div class = "col-sm-6">
      <br><br>
      <div class="card w-75 d-inline-block text-white mb-3 frost" style="background-image:linear-gradient(to bottom right,#1d976c,#134e5e) ;height:250px;" >
        <div class="card-header"><a style ="color:white;font-weight: bolder;font-size: large;" [routerLink]="['./subject']">{{ this.currentUser.subjectname}}</a></div>
        <div class="card-body" >
          <p class="card-text">The subject includes all the lab experiments, lab works, assignments and notes provided by our teacher.</p>
        <br>  <button class="btn" style="background-color:rgb(5, 185, 155);color:white"  (click)="onclick(this.currentUser.code)"><i class="fa fa-cog fa-spin mr-2"></i>View More</button>
        </div>
      </div>
  </div>
</div>
</div>
</div>
    
    
    
    
    
    